/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-mar-2016, 11:28:55
    Author     : Vicente
*/
img{
    width: 650px;
    height: 400px;
    z-index: 1;
}
#a{
    width: 650px;
    height: 400px;
    display: inline-block;
    overflow: hidden;
}
#Izq{
    width: 30px;
    height: 30px;
    top:190px;
    left: 15px;
    position: absolute;
    z-index: 2;
}
#a #Der{
    width: 30px;
    height: 30px;
    top:190px;
    left: 620px;
    position: absolute;
    z-index: 2;
}

