body{
    padding: 0;
    padding-top: 5em;
    margin: 0;
    background-image: url("../Fondos/Fondo2.png");
}

header {
    width: 100%;
    height: 5em;
    top:0;
    left:0;
    position: fixed;
    background-color: #663333;
    z-index: 10;
}
header img{
    height: 5em;
    width: 5em;
    background-color: #774444;
    border-radius: 5px;
}
nav {
    float: right;
    color:white;
    text-decoration: none;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
	
nav ul li {
    display: inline-block;
    line-height: 80px;
}
			
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
}
			
nav ul li a:hover {
    background: #336666;
}

footer {
    padding-top: 20px;
    height: 5em;
    left: 0px;
    bottom: 0;
    background-color: #663333;
    display: block;
    text-align: center;
    color:white;
}

#content{
    width: 90%;
    height: 67em;
    padding: 60px;
    padding-top: 0px;
    display: block;
    margin: 20px auto;
    left: 0;
}
#lineaPrincipal{
    margin-top: 30px;
    height: 20px;
    width: 51em;
    font-size:1.5em;
}
#linea1{
    width: 43em;;
    height: 2px;
    background-color: black;
    float: right;
}
#NotPrincipal{
    margin-top: 2em;
    width: 100%;
    height: 20em;
    border: 2px solid #663333;
    border-radius: 5px;
    overflow:hidden;
    display: inline-block;
    background-color: white;
}
#ImgPrincipal{
    width: 50%;
    height: inherit;
    float: left;
}
#ImgPrincipal img{
    width: 100%;
    height: inherit;
}
#TexPrincipal{
    float: left;
    height: inherit;
    background-color: white;
    padding-left: 1em;
}

#lineanoticias{
    margin-top: 30px;
    height: 20px;
    width: 1200px;
    top:33em;
    position:absolute;
}
#linea2{
    width: 1120px;
    height: 2px;
    background-color: black;
    float: right;
}
.cuadro {
    width: 30.5em;
    height:15.5em;
    background-color: white;
    background-size: 15.5em;
    margin-top: 3em;
    margin-left: 6em;
    float:left;
    border: 2px solid #663333;
    border-radius: 5px;
}
.contenedor{
    margin-top: 30px;
    height: 250px;
    width: 1250px;
    display: block;
    position: absolute;
}
#cont1{
    top:35em;
    position: absolute;
}

.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('img/a02.png') no-repeat;
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
#slides{
    position: relative;
    width: 100%;
    height: 100%;
}